# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Env files
.env
client/.env
server/.env

# Logs
logs/
*.log

# Build folders
client/build/
client/dist/
server/dist/

# Cache
.cache/
client/.parcel-cache/
server/.parcel-cache/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
